.intro-content{
    position: relative;
    top: -8rem;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: var(--gap);
    min-height: 100vh;
}

.intro-text-content, .intro-img {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.intro-img img{
    max-width: 100%;
    height: auto;
}
.top7-content {
    max-width: 64rem;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
}
.grid-one-content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    height: 100vh;
}
.grid-main-heading {
    margin-bottom: 6rem;
}
.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gap);
    counter-reset: grid-counter;
}
.grid h3 {
    font-size: 2rem;
    position: relative;
    padding-left: 5rem;
    padding-bottom: 3rem;
}
.grid h3::before {
    counter-increment: grid-counter;
    content: counter(grid-counter);
    position: absolute;
    font-size: 8rem;
    font-style: italic;
    top: -4rem;
    left: -1rem;
    transform: rotate(5deg);
}
.imgdesc {
    width: 100%;
    max-width: 20rem;
    padding: 3rem;
    align-items: center;
    overflow: hidden;
}
.imgdesc{
    transition: all 300ms ease-in-out;

}
.imgdesc:hover {
    transform: translate(-3%, -3%) scale(1.2) rotate(5deg);
}

.responsive-table {
    overflow: hidden;
    overflow-y: auto;
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}
table caption{
    font-style: italic;
    font-size: 1.6rem;
    text-align: left;
    margin-bottom: 1rem;
}
table th {
    background: var(--primary-color);
}
table td {
    background: var(--secundary-color);
}

table td, table th {
    white-space: nowrap;
    padding: 6rem;
    text-align: left;
    border: 0.1rem solid var(--light-gray-color);
}